
myOS.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist

myOS.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/myOS.xcscheme

myOS.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
